{{#if showClose}}
  <h6>
    {{title}}
    <span {{action "onKeypadClose"}}>&times;</span>
  </h6>
{{/if}}
{{#if showDisplay}}
  {{input value=displayValue class="keypad-display" placeholder=displayPlaceholder}}
{{/if}}
<ul class="keypad-keys">
  {{! 1 - 9 }}
  {{#each-in keys as |number alphabets|}}
    {{keypad-component/key-component
      number=number
      alphabets=alphabets
      onPress=(action "onKeyPress")
    }}
  {{/each-in}}
  {{! last row }}
  {{keypad-component/key-component
    number="*"
    alphabets=""
    onPress=(action "onKeyPress")
  }}
  {{keypad-component/key-component
    usageIntention=usageIntention
    number="0"
    alphabets="+"
    onPress=(action "onKeyPress")
  }}
  {{keypad-component/key-component
    number="#"
    alphabets=""
    onPress=(action "onKeyPress")
  }}
</ul>